.text-white {
    color: aliceblue;
}

.carousel-img  {
    height: 80vh;
    width: auto;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .mr-10 {
      margin-right: 20px;
  }
  .ml-10 {
      margin-left: 20px;
  }

  .mt-10 {
      margin-top: 30px;
      padding-top: 30px;
  }

  .px-2 {
      padding-right: 10px;
      padding-left: 10px;
  }

img {
    margin: 0 auto;
}

.row {
    display: flex;
    
}

.row-one {
    height: 70vh;
    background-color: blue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home {
    min-height: 360px;
}